VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_MAPS_API_KEY=


const firebaseConfig = {
  apiKey: "AIzaSyBSSrRhFZBtK-YRLCt0lfUuvG-zRJKZfLk",
  authDomain: "errands-auth.firebaseapp.com",
  projectId: "errands-auth",
  storageBucket: "errands-auth.firebasestorage.app",
  messagingSenderId: "1020065538549",
  appId: "1:1020065538549:web:71ecd939b7168fa9fa00bc"
};